/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

.container {
  display: flex;
  max-width: fit-content;
}

/* .navbar-brand {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
} */
.page-title {
  padding-top: 7rem;
  margin-bottom: -6rem;
  width: 100%;
  text-align: center;
}

.main {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 662px) {
  .main {
    margin-top: 13rem;
  }
  .controls {
    display: block !important;
  }
}

.controls {
  display: flex;
}

.totals {
  border-bottom: 10px;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: blue;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.copyright {
  width: auto;
}

.affiliate {
  width: 30%;
  background-color: lightblue;
}
.affiliate img {
  width: 100%;
}

button {
  display: inline-block;
  vertical-align: top;
}

.invalid {
  color: red;
}

.hydrate {
  color: white;
  background-color: green !important;
}

.prepare {
  background-color: yellowgreen !important;
  color: black;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #fff;
  }
  49% {
    color: #fff;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

.price {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}
.price a {
  margin-right: 1rem;
}

.prices {
  font-size: 18px;
  color: white;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .prices {
    font-size: 14px;
    margin-right: 0;
    margin-left: 0;
  }

  .beggar {
    font-size: 10px;
  }
}

.table-info {
  margin-top: 2rem;
}

.bi-clipboard:hover,
.bi-clipboard-check:hover {
  cursor: pointer;
}

.bi {
  margin-right: 5px;
}
.btn-copy {
  font-size: 12px;
}

.warning {
  background-color: yellow !important;
  margin-left: 5px;
}

/* span.spinCtrl {
  position: relative;
  outline: 1px solid #00f;
}

span.spinCtrl:after {
  content: "";

  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  outline: 1px solid red; 
  width: 60%;
} */

.inputSpinner {
  margin-left: 5px;
}
.inputSpinner button {
  line-height: 1;
  width: 2rem;
  align-content: center;
  align-items: center;
}
.inputSpinner-control {
  width: 55px;
}

.input-spinner-label {
  display: flex;
}

.downline-wallet {
  cursor: default;
}

.table-options {
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
}

.nav-wrap {
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.hideControlsBtn {
  margin-bottom: 1rem;
}

.form-config {
  min-width: 35rem;
  margin-right: 2rem;
}

.rowIndex:hover {
  cursor: pointer;
}
.rowIndex:hover:before {
  content: "X";
  color: red;
}

.rowIndex:hover span {
  display: none;
}

.buy-more-br34p {
  background-color: red !important;
  margin-left: 5px;
}

.buy-pcs,
.buy-dex {
  color: lightgreen;
}

.drip-prices {
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
