.container {
  display: flex;
  max-width: fit-content;
}
.navbar-brand {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}

.main {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.controls {
  display: flex;
}
.totals {
  border-bottom: 10px;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: blue;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.copyright {
  width: auto;
}

.affiliate {
  width: 30%;
  background-color: lightblue;
}
.affiliate img {
  width: 100%;
}

button {
  display: inline-block;
  vertical-align: top;
}

.invalid {
  color: red;
}

.hydrate {
  color: white;
  background-color: green !important;
}

.prepare {
  background-color: yellowgreen !important;
  color: black;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #fff;
  }
  49% {
    color: #fff;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

.prices {
  font-size: 14px;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-info {
  margin-top: 2rem;
}
